.p-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px; 
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #000, rgb(4, 8, 44));
   
    }
    
    
    .p-container h1 {
        font-size: 25px;
        color: rgb(255, 255, 255);
        margin: 0;
        padding: 0 0 20px 0;
        animation: flicker9 1.5s infinite alternate;
        animation-delay: .5s;
        margin: 0;
        padding: 0px 0 10px 0;
        
        
     }
     
        @keyframes flicker9 {
           0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
                                         0 0 1px #fff,
                                         0 0 1px #fff,
                                         0 0 1px #fff,
                                          0 0 1px #2bff00,
                                        0 0 1px #2bff00,
                                         0 0 20px #2bff00,
                                         0 0 5px #2bff00,
                                         0 0 9px #2bff00;
                                      }
                                      20%, 24%, 55% {        
                                          text-shadow: none;
                                      }   
                                  
     }
    
        
    .p-container h2 {
        font-size: 60px;
        color: #fff;
        margin: 0;
        padding: 0 0 20px 0;
        
        text-align: center;
        }
    
.grid {
    width: 70%;
    height: 220px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        padding: 10px;
}

.grid h2{
    font-size: 18px;
   padding-top: 10px;
}



.p1 {
    width: 30%;
    height: auto;
   padding: 10px;
  
}

.background1 {
    width: 100%;
    height: 150px;
background-image: url(/src/assets/libreria2.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    filter: brightness(40%);
    }

    .background1:hover {
        filter: brightness(100%);
    }

    .background2 {
        width: 100%;
        height: 150px;
        background-image: url(/src/assets/portfoliophoto.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        filter: brightness(40%);
        }
    
        .background2:hover {
            filter: brightness(100%);
        }

        .background3 {
            width: 100%;
            height: 150px;
            background-image: url(/src/assets/angulart.PNG);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            filter: brightness(40%);
            }
        
            .background3:hover {
                filter: brightness(100%);
            }

            .background4 {
                width: 100%;
                height: 150px;
                background-image: url(/src/assets/plenitude.PNG);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 10px;
                filter: brightness(40%);
                }
            
                .background4:hover {
                    filter: brightness(100%);
                }
    
                .background5 {
                    width: 100%;
                    height: 150px;
                    background-image: url(/src/assets/conselva2.PNG);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    border-radius: 10px;
                    filter: brightness(40%);
                    }
                
                    .background5:hover {
                        filter: brightness(100%);
                    }


                    .background6 {
                        width: 100%;
                        height: 150px;
                        background-image: url(/src/assets/hea.PNG);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        border-radius: 10px;
                        filter: brightness(40%);
                        }
                    
                        .background6:hover {
                            filter: brightness(100%);
                        }


                        .grid2 {
                            width: 70%;
                            height: 220px;
                            
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                                padding: 10px;
                                margin-bottom: 200px;
                        }
                        
                        .grid2 h2{
                            font-size: 18px;
                           padding-top: 10px;
                        
                        }