.p-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px; 
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #000, rgb(4, 8, 44));
   
    }
    
    
    .p-container h1 {
        font-size: 25px;
        color: rgb(255, 255, 255);
        margin: 0;
        padding: 0 0 20px 0;
        animation: flicker9 1.5s infinite alternate;
        animation-delay: .5s;
        margin: 0;
        padding: 0px 0 10px 0;
        
        
     }
     
        @keyframes flicker9 {
           0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
                                         0 0 1px #fff,
                                         0 0 1px #fff,
                                         0 0 1px #fff,
                                          0 0 1px #2bff00,
                                        0 0 1px #2bff00,
                                         0 0 20px #2bff00,
                                         0 0 5px #2bff00,
                                         0 0 9px #2bff00;
                                      }
                                      20%, 24%, 55% {        
                                          text-shadow: none;
                                      }   
                                  
     }
    
        
    .p-container h2 {
        font-size: 60px;
        color: #fff;
        margin: 0;
        padding: 0 0 20px 0;
        
        text-align: center;
        }
    
    .grid {
        width: 70%;
        height: 300px;
        background-color: red;
        display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
padding: 10px;
    }

    .project1 {
display: grid;
grid-column: 1/2;
grid-row: 1/2;
background-color: yellow;
margin: 0;
padding: 0;

    }

.project2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: blue;
}
.project3{
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: lightblue;
}


.contentp1{
display: flex;
flex-direction: column;
justify-content: center;

}

.project1 a {
    width: 100%;
    height: 90px;
   
}

.img1 {
    width: 100%;
 }

.project1 h5 {
    width: 100%;
    height: 30px;
    font-size: 17px;
}

.project1 p {
    width: 100%;
    height: 30px;
    font-size: 17px;
}

